xli556-schema1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!-- The product list endpoint is http://redsox.uoa.auckland.ac.nz/ds/DairyService.svc/items, find country name from the endpoint -->
    <xs:complexType name="ArrayOfItemType">
        <!-- Must follow the order by using xs:sequence -->
        <xs:sequence>
            <xs:element name="Item" type="ItemType" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ItemType">
        <xs:sequence>
            <!-- ItemId is an integer with no signed, so better to use unsignedInt as type -->
            <xs:element name="ItemId" type="xs:unsignedInt"></xs:element>
            <xs:element name="Origin" type="OriginType"></xs:element>
            <xs:element name="Price" type="xs:decimal"></xs:element>
            <xs:element name="Title" type="xs:string"></xs:element>
            <xs:element name="Type" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Origin field is a country name, only a restricted set of strings are permissible -->
    <xs:simpleType name="OriginType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NZ"></xs:enumeration>
            <xs:enumeration value="Sweden"></xs:enumeration>
            <xs:enumeration value="France"></xs:enumeration>
            <xs:enumeration value="Italy"></xs:enumeration>
            <xs:enumeration value="England"></xs:enumeration>
            <xs:enumeration value="Spain"></xs:enumeration>
            <xs:enumeration value="Netherlands"></xs:enumeration>
            <xs:enumeration value="Iceland"></xs:enumeration>
            <xs:enumeration value="Switzerland"></xs:enumeration>
            <xs:enumeration value="Portugal"></xs:enumeration>
            <xs:enumeration value="Cyprus"></xs:enumeration>
            <xs:enumeration value="Bulgaria"></xs:enumeration>
            <xs:enumeration value="Denmark"></xs:enumeration>
            <xs:enumeration value="India"></xs:enumeration>
            <xs:enumeration value="Greece"></xs:enumeration>
            <xs:enumeration value="Hungary"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <!-- root of the XML file <ArrayOfItem>...</ArrayOfItem> -->
    <xs:element name="ArrayOfItem" type="ArrayOfItemType"></xs:element>
</xs:schema>